---
layout: default
---
<div class="footer-col-wrapper clearfix">
	<div class="footer-col body-col-2" style="margin:0px;" id="picture">
		<img src="assets/images/{{site.title_image}}" id="self_img" class="left padded"   style="margin:0px; margin-right:15px;"
			alt="Patrícia Alves-Oliveira Headshot">
	</div>
	<div class="footer-col body-col-3"  style="margin:0px; font-size:14px;">
		<div>
			<span class="focus">
				Assistant Professor
			</span> of <a href="https://robotics.umich.edu/" target="_blank">Robotics</a> at the
			<a href="https://umich.edu/" target="_blank">University of Michigan</a>
		</div>
		<div>
			<span class="focus">Area</span>: Human-Robot Interaction &bull; Artificial Intelligence &bull; Design Research
		</div>
		<div>
			<span class="focus">Focuses</span>: Health &bull; Education &bull; Arts
		</div>
		<div style="margin-bottom:2px;">
			<span class="focus">Lab</span>: <a href="https://robotdesign.studio" target="_blank">Robot Studio</a>
		</div>
		<div style="margin-bottom:2px;">
			<span class="focus">Affiliations</span>: <a href="https://robotdesign.studio" target="_blank">{{ site.data.index.affiliations | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' }}
			</a>
		</div>
		<div>
		{% for link in site.data.links %}
		<a href="{{ link.url }}" target="_blank" style="margin-right: 5px; display: inline-flex; align-items: center; justify-content: center; height: 14px; {% if link.img %} position: relative; top: 2px; {% endif %}">
			{% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
			{% if link.img %}
				<img width="14" height="14" src="assets/images/{{ link.img }}">
			{% endif %}
		</a>
	{% endfor %}
</div>
	</div>
</div>

<div style="margin-top:16px;"><strong style="font-size:13px; margin-right:8px !important;">Statement.</strong>
{{ site.data.index.statement | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' }}
	</div>

	
	<div class="row">
		<div class="column left-column need-padding" id="students">
			<div class="topic small-margin">Students</div>
			{% for student in site.data.students.current %}
			<div>
				<span class='service-conf'>{{ student.name }}</span>
				{% if student.in %}
				<a href="{{ student.in }}" target="_blank">
					<i class="fa-brands fa-linkedin"></i>
				</a>
				{% endif %}
			</div>
			{% endfor %}
			<a href="https://robotdesign.studio/team" target="_blank">Full Team</a>
			{% if site.data.students.alumni %}
			<div class="topic small-margin" style="padding-top:4px;">Alumni</div>
			{% for alum in site.data.students.alumni %}
			<div>
				<span class='service-conf'>{{ alum.name }}</span>
				{% if alum.in %}
				<a href="{{ alum.in }}" target="_blank">
					<i class="fa-brands fa-linkedin"></i>
				</a>
				{% endif %}
			</div>
			{% endfor %}
			{% endif %}
		</div>
		
		<div class="column right-column need-padding" id="teaching">
			<div class="topic small-margin">Teaching</div>
			{% for course in site.data.teaching %}
			  <div style="margin-bottom:3px;">
				{{course.code}} &ndash; <a href=teaching#{{ course.id }}>{{ course.title}}</a>
				{% if course.terms %}
					({% for term in course.terms %}{{ term | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' | strip }}{% unless forloop.last %}, {% endunless %}{% endfor %})
				{% endif %}
			  </div>
			{% endfor %}
		  </div>
	</div>
	
	<div class="row">
		<div class="column left-column need-padding" id="press">
			<div class="topic small-margin">Press</div>
			{% assign press_items = site.data.press | slice: 0, 9 %}
			{% for item in press_items %}
			<div>
				{{ item | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' }}
			</div>
			{% endfor %}
			<div id="extra-press" style="display: none;">
				{% assign extra_press_items = site.data.press | slice: 9, site.data.press.size %}
				{% for item in extra_press_items %}
				<div>
					{{ item | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' }}
				</div>
				{% endfor %}
			</div>
			{% if site.data.press.size > 9 %}
			<button id="more-press" class="show-more">Show More</button>
			{% endif %}
		</div>
	
		<div class="column right-column need-padding" id="news">
			<div class="topic small-margin">News</div>
			{% assign news_items = site.data.news | slice: 0, 9 %}
			{% for item in news_items %}
			<div>
				{% if item.first %}
				{{ item[0] | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' }}
				{% if item[1] %}
				- <a href="{{ item[1] }}" target="_blank" style="position: relative; top: 1px;">
					<i class="fa-brands fa-youtube"></i>
				</a>
				{% endif %}
				{% else %}
				{{ item | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' }}
				{% endif %}
			</div>
			{% endfor %}
			<div id="extra-news" style="display: none;">
				{% assign extra_news_items = site.data.news | slice: 9, site.data.news.size %}
				{% for item in extra_news_items %}
				<div>
					{% if item.first %}
					{{ item[0] | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' }}
					{% if item[1] %}
					- <a href="{{ item[1] }}" target="_blank" style="position: relative; top: 1px;">
						<i class="fa-brands fa-youtube"></i>
					</a>
					{% endif %}
					{% else %}
					{{ item | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' }}
					{% endif %}
				</div>
				{% endfor %}
			</div>
			{% if site.data.news.size > 9 %}
			<button id="more-news" class="show-more">Show More</button>
			{% endif %}
		</div>
	</div>
	
	

	<div class="row">
		<div class="column left-column need-padding">
			<div class="topic small-margin">Service</div>
			<div>
				{% for service in site.data.service.left %}
				<div style="margin-bottom:3px;">
					<span class='service-conf'>{{ service.conf }}</span>
					<span class='service-type {{ service.role }}'>{{ service.type }}</span>
				</div>
				{% endfor %}
			</div>
		</div>
	
		<div class="column right-column need-padding">
			<!-- Add a placeholder title for the right column to maintain alignment -->
			<div class="topic small-margin" style="visibility: hidden;">Service</div>
			<div>
				{% for service in site.data.service.right %}
				<div style="margin-bottom:3px;">
					<span class='service-conf'>{{ service.conf }}</span>
					<span class='service-type {{ service.role }}'>{{ service.type }}</span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	
	
<div class="clearfix press-and-news">
	<div class="left-box press need-padding">
		<div class="topic small-margin">Projects</div>
		{{ site.data.index.projects | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' }}
	</div>
</div>


<style>

@media (max-width: 768px) {
#picture{
	width:100px;
}
}

@media (min-width: 375px) and (max-width: 768px) {

    .footer-col-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
    }

    .footer-col.body-col-2 {
        flex-shrink: 0;
        margin-right: 15px;
        margin-bottom: 0; 
    }

    #self_img {
        margin-top: 0; 
    }

    .footer-col.body-col-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.topic.small-margin{
	font-size:13px;
}
.topic.small-margin{
	margin-bottom:0px;
	padding-top:10px;
}


.row {
	display: flex;
	flex-wrap: wrap;
}
.column {
	
	box-sizing: border-box;
}
.left-column {
	flex: 1.25;
}
.right-column {
	flex: 1.75;
}

.topic {
	font-weight: bold;
	margin-bottom: 10px;
}
.show-more {
	padding: 4px 8px;
	cursor: pointer;
	border: none;
	background: #F5F5F5;
	color: black;
	border-radius: 4px;
	font-size:12px;
	margin-left:-2px;
}
.show-more:hover{
	background:#f2e6fc;

}
</style>
<script>
    document.getElementById('more-press').addEventListener('click', function() {
        var extraPress = document.getElementById('extra-press');
        var moreButton = document.getElementById('more-press');
        if (extraPress.style.display === 'none') {
            extraPress.style.display = 'block';
            moreButton.textContent = 'Show Less';
        } else {
            extraPress.style.display = 'none';
            moreButton.textContent = 'Show More';
        }
    });

    document.getElementById('more-news').addEventListener('click', function() {
        var extraNews = document.getElementById('extra-news');
        var moreButton = document.getElementById('more-news');
        if (extraNews.style.display === 'none') {
            extraNews.style.display = 'block';
            moreButton.textContent = 'Show Less';
        } else {
            extraNews.style.display = 'none';
            moreButton.textContent = 'Show More';
        }
    });
</script>