---
layout: page
---


{% for course in site.data.teaching %}
<h3 class="dark-text" id="{{ course.id }}">{{course.code}} &ndash; {{course.title }}</h3>

<div class="course-row">
    <div class="course-left">
        <img src="{{ course.image }}">
    </div>
    <div class="course-right">
        <p>{{ course.description }}</p>
        {% if course.terms %}
            The course website{% if course.terms.size > 1 %}s{% endif %} can be found at the following link{% if course.terms.size > 1 %}s{% endif %}:
            {% for term in course.terms %}
            {{ term | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' | strip }}{% unless forloop.last %},{% endunless %}
        {% endfor %}

        {% endif %}
    </div>
</div>
{% endfor %}






<style>
    html,
    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .course-row {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .course-left {
        flex: 1;
        padding-right: 15px;
        text-align: center;
    }

    .course-right {
        flex: 2;
    }

    .course-left img {
        max-width: 100%;
        height: auto;
    }

    footer {
        margin-top: auto;
        /* This ensures the footer sticks to the bottom */

    }
</style>