<footer>
	<div style="margin-top:5px;">
		{% for link in site.data.links %}
		<a href="{{ link.url }}" target="_blank" style="margin-right: 5px; display: inline-flex; align-items: center; justify-content: center; height: 14px; {% if link.img %} position: relative; top: 2px; {% endif %}">
			{% if link.icon %}<i class="{{ link.icon }}" style="font-size:20px;"></i>{% endif %}
			{% if link.img %}
				<img width="20" height="20" src="assets/images/{{ link.img }}">
			{% endif %}
		</a>
	{% endfor %}
	</div>
	<span style="font-size:10px;">Original website design by Sarah Chasins.</span>
</footer>

<style>
	footer {
		border-top: 1px solid #e8e8e8;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding:5px;
	}
</style>