<footer>
	<div>
		<a href="mailto:robopati@umich.edu" target="_blank">
			<i class="fa-solid fa-envelope"></i>
		</a>
		<a href="{{ site.google_scholar_link }}" target="_blank">
			<i class="fa-brands fa-google-scholar"></i>
		</a>
		<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank">
			<i class="fa-brands fa-linkedin"></i>
		</a>
		<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
			<i class="fa-brands fa-twitter"></i>
		</a>
		<a href="https://github.com/{{ site.github_username }}" target="_blank">
			<i class="fa-brands fa-github"></i>
		</a>
		<a href="{{ site.youtube_url }}" target="_blank">
			<i class="fa-brands fa-youtube"></i>
		</a>
	</div>
	Original website design by Sarah Chasins.
</footer>

<style>
	footer {
		border-top: 1px solid #e8e8e8;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding:5px;
	}
</style>